<div class="container">
<h1 style="text-align: center; margin-top: 50px">Validation</h1>
<form #frm="ngForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input  type="text" class="form-control hihi" id="exampleFormControlInput1" placeholder="username"
     name="name"
     [(ngModel)]="user.name"
       required
       #nameUser = "ngModel" 
       pattern="[a-z]{1,15}"
      
    >
  </div>
  <div *ngIf="nameUser.touched">
    <div *ngIf="nameUser.errors?.required">
        <span style="color: red;">{{ERROR_MESSAGE.USER.EXIST}}</span>
    </div>
  </div>
  <div *ngIf="nameUser.touched">
        <div *ngIf="nameUser.errors?.pattern">
            <span style="color: red;">Invalid Name</span>
        </div>
      </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email@gmai.com" name="email" 
    [(ngModel)]="user.email" 
    required
    #email ="ngModel"
    pattern="[^@\s]+@[^@\s]+\.[^@\s]+"  
    >
  </div>
  <div *ngIf="email.touched">
      <div *ngIf="email.errors?.required">
          <span style="color: red;">Email is requied</span>
      </div>
    </div>
    <div *ngIf="email.touched">
        <div *ngIf="email.errors?.pattern">
            <span style="color: red;">Invalid Email</span>
        </div>
      </div>
  <div class="form-group">
    <label for="contact">Contact</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="contact" name = "contact"
    [(ngModel)]="user.contact"
      required
    #contact ="ngModel"
    pattern="[0-9]*"
   >
  </div>
  <div *ngIf="contact.touched">
      <div *ngIf="contact.errors?.required">
          <span style="color: red;">Contact is requied</span>
      </div>
    </div>
    <div *ngIf="contact.touched">
        <div *ngIf="contact.errors?.pattern">
            <span style="color: red;">Invalid Contact</span>
        </div>
      </div>
  <button type="button" (click)="addUser()" class="btn btn-primary" style="text-align: center" [disabled]="frm.invalid">Submit</button>
</form>
</div>
