<!-- <div class="container">
<h1 style="text-align: center; margin-top: 50px">Validation</h1>
<form #frm="ngForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input  type="text" class="form-control hihi" id="exampleFormControlInput1" placeholder="username"
     name="name"
     [(ngModel)]="user.name"
       required
       #nameUser = "ngModel" 
       pattern="[a-z]{1,15}" 
    >
  </div>
  <div *ngIf="nameUser.touched">
    <div *ngIf="nameUser.errors?.required">
        <span style="color: red;">Name is requied</span>
    </div>
  </div>
  <div *ngIf="nameUser.touched">
        <div *ngIf="nameUser.errors?.pattern">
            <span style="color: red;">Invalid Name</span>
        </div>
      </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control custom-form" id="exampleFormControlInput1" placeholder="Email@gmai.com" name="email" 
    [(ngModel)]="user.email" 
    required
    #email ="ngModel"
    pattern="[^@\s]+@[^@\s]+\.[^@\s]+"  
    >
  </div>
  <div *ngIf="email.touched">
      <div *ngIf="email.errors?.required">
          <span style="color: red;">Email is requied</span>
      </div>
    </div>
    <div *ngIf="email.touched">
        <div *ngIf="email.errors?.pattern">
            <span style="color: red;">Invalid Email</span>
        </div>
      </div>
  <div class="form-group">
    <label for="contact">Contact</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="contact" name = "contact"
    [(ngModel)]="user.contact"
    required
    #contact ="ngModel"
    pattern="[0-9]*"
   >
  </div>
  <div *ngIf="contact.touched">
      <div *ngIf="contact.errors?.required">
          <span style="color: red;">Contact is requied</span>
      </div>
    </div>
    <div *ngIf="contact.touched">
        <div *ngIf="contact.errors?.pattern">
            <span style="color: red;">Invalid Contact</span>
        </div>
      </div>
  <button type="button" (click)="addUser()" class="btn btn-primary" style="text-align: center" [disabled]="frm.invalid">Submit</button>
</form>
</div> -->
<form #frm="ngForm" class="form-support">
    <div class="form-group-description">
        <label class="description-label generic-attribute" translate>Description*</label>
        <textarea #textarea (input)="autoHeight()" class="form-control-textarea input-attribute generic-attribute" [ngClass]="{'active': descriptionSupport.touched && descriptionSupport.errors?.required}"
            name="description" [(ngModel)]="support.description" required #descriptionSupport="ngModel" placeholder="{{Description}}"></textarea>
        <div class="description-required" *ngIf="descriptionSupport.touched">
            <div *ngIf="descriptionSupport.errors?.required" style="color: red">Description is required</div>
        </div>
    </div>
    <div class="form-group-description">
        <label class="description-label generic-attribute" translate>Email*</label>
        <input  class="form-control-textarea input-attribute generic-attribute" [ngClass]="{'active': emailSupport.touched && emailSupport.errors?.required}"
            name="email" [(ngModel)]="support.email" required #emailSupport="ngModel" placeholder="{{email}}">
        <div class="description-required" *ngIf="emailSupport.touched">
            <div *ngIf="emailSupport.errors?.required" style="color: red">Email is required</div>
        </div>
    </div>
    <div class="form-group-send">
            <button class="send-button generic-attribute btn btn-success"  [disabled]="frm.invalid"
              >Send</button>
          </div>
</form>